---
import { Image } from "astro:assets";
import ThreeDCarsComponent from "@/components/acertinity/ThreeDCarsComponent";
import type IProject from "@/interfaces/project.interface";
import Tag from "./Tag.astro";
import Github from "./icons/Github.astro";
import Preview from "./icons/Preview.astro";

interface Props {
  project: IProject;
}

const { id, title, description, image, link, github, tags } =
  Astro.props.project;
---

<ThreeDCarsComponent
  client:idle
  className="flex flex-col lg:flex-row items-start gap-x-5 overflow-hidden lg:min-h-fit rounded-md lg:hover:bg-slate-50/5 [border-width:0.1px] border-transparent lg:hover:border-white/10 duration-75 group"
>
  <div
    class="lg:pl-5 lg:py-4 lg:w-4/12 z-10 h-full overflow-hidden w-full mb-4 lg:mb-0"
  >
    <Image
      src={image}
      alt=`Image of ${title}`
      class="bg-cover bg-no-repeat rounded-md"
    />
  </div>
  <div class="lg:pr-5 lg:py-4 lg:w-8/12 z-10 w-full">
    <h3
      class="font-semibold font-azeret lg:text-lg w-fit text-slate-100 text-2xl"
    >
      {title}
    </h3>
    <p class="font-light lg:text-sm text-base mb-3 text-[#c5c5c5]">
      {description}
    </p>
    <ul class="flex gap-x-4 gap-y-2 flex-wrap mb-5">
      {tags.map((tag) => <Tag text={tag.name} />)}
    </ul>
    <div class="flex gap-x-5">
      <a href={github} class="lg:size-6 size-9" target="_blank">
        <Github />
      </a>
      <a href={link} class="lg:size-6 size-9" target="_blank">
        <Preview />
      </a>
    </div>
  </div>
</ThreeDCarsComponent>
